import uuid
from datetime import datetime

from pydantic import BaseModel, ConfigDict

from enchante.utils import optional

__all__ = ["{{ object }}Update", "{{ object }}Create", "{{ object }}"]


class {{ object }}Create(BaseModel):
    pass


class {{ object }}(BaseModel):
    model_config = ConfigDict(from_attributes=True)

    uid: uuid.UUID
    created_at: datetime
    updated_at: datetime | None

@optional
class {{ object }}Update({{ object }}):
    pass
